extends layout

block content
    .inner
        h2 #{tagName || 'Tags'}
        ul.tags
            each tag in tags
                li.tag
                    a.tag__link(href=`/tags/${tag._id}` class=(tag._id === tagName ? 'tag__link--active' : ''))
                        span.tag__text #{tag._id}
                        span.tag__count #{tag.count}